.btn {
  display: inline-block;
  padding: 8px 40px;
  border-radius: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  &--primary {
    background: $primaryColor;
    color: $baseColor;
  }
  &--secondary {
    background: $baseColor;
    color: $primaryColor;
    border: 1px solid $primaryColor;
  }
}