$primaryColor: #547F81;
$accentColor: #E2BA01;
$baseColor: #FFFFFF;
$secondaryColor: #F8F8F8;
$shadowColor: rgba(0,0,0,0.35);

$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Yeseva', serif;

html {
  font-size: 62.5%;
}

body {
  font-family: $primaryFont;
  color: $primaryColor;
  font-size: 1.6rem;
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.main-content-area {
  background: $secondaryColor;
  min-height: calc(100vh - 60px);
  padding: 1px;
}